.cards-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid gray;
  margin: 10px;
  padding: 10px;
  color: wheat;
  width: 350px;
  height: 250px;
  font-size: 12px;
  cursor: default;
}

span {
  color: rgb(253, 189, 61);
}

a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 10px;
  
}

.view {
  cursor: pointer;
}
