.repo-cards {
  min-height: 100vh;
  background: #2c028d;
}

.form {
  display: flex;
  justify-content: center;
  padding: 2%;
  background: #2c028d;
}

input[type="text"] {
  padding: 10px;
  width: 500px;
  border: 3px solid wheat;
  border-radius: 1.5rem;
}

.search-btn {
  background: #076b6a;
  color: #f2f7f6;
}

.search-btn,
.options {
  border: 3px solid wheat;
  border-radius: 1.5rem;
  font-size: 15px;
  padding: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.please-search {
  text-align: center;
  font-size: 40px;
  padding: 2%;
  color: wheat;
  cursor: default;
}

/* To make Form component responsive added media queries */
@media screen and (max-width: 710px) {
  .form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  input[type="text"],
  .search-btn,
  .options {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    font-size: 12px;
  }

  .search-btn {
    font-size: 15px;
  }

  .please-search {
    font-size: 30px;
  }
}
